<div class="collection-page container">
  {% paginate collection.products by 9 %}
    <h1 class="heading text-align-center">{{ collection.title }}</h1>
    {% assign filter_tags = block.settings.filter_tags | split: ',' %}
    {% for tags in filter_tags %}
        {{ tags }}
    {% endfor %}
    {% if collection.all_tags.size > 0 %}
    <ul class="tag-filters">
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <li class="tag-filters__item active">{{ tag | link_to_remove_tag: tag }}</li>
        {% else %}
          <li class="tag-filters__item">{{ tag | link_to_add_tag: tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
    

    <div class="collection-grid">
      {% for product in collection.products %}
        {% render 'card-product', product: product %}
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <div class="pagination-links">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}
  {% endpaginate %}
</div>
 {% schema %}
    {
        "blocks": [
            {
                "type": "filter_tag",
                "name": "Filter Tag",
                "settings": [
                    {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Filter by"
                    },
                    {
                        "type": "textarea",
                        "id": "filter_tags",
                        "label": "Tag"
                    }
                ]
            }
        ]
    }
 {% endschema %}